img{
    width:100px;
    height:60px:
  }
  table{
    border-collapse:collapse;
  background-image:url("https://previews.123rf.com/images/adiruch/adiruch1609/adiruch160900229/62277178-businessman-looking-at-computer-screen-thoughtful-male-person-looking-to-the-digital-tablet-screen-l.jpg");
  width:100%;}
  tr{
    padding: 10px;
    border: 2px solid white;
    border-collapse:collapse;
  }
  h1{
    font-size:400%;
  }
  